@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background: rgb(195, 205, 195);
}
footer {
  position: fixed;
  background: rgb(4, 4, 66);
  color: #fff;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #140b5c;
}

footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}

footer .content .top .logo-details {
  font-size: 30px;
  color: #fff;
 }

.content .top .media-icon {
  display: flex;
}
.content .top .media-icon a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.top .media-icon a:nth-child(1) {
  background: #4267b2;
}

.top .media-icon a:nth-child(1):hover {
  color: #4267b2;
  background: #fff;
}
.top .media-icon a:nth-child(2) {
  background: #e1306c;
}

.top .media-icon a:nth-child(2):hover {
  color: #e1306c;
  background: #fff;
}
.top .media-icon a:nth-child(3) {
  background: #4267b2;
}

.top .media-icon a:nth-child(3):hover {
  color: #0077b5;
  background: #fff;
}
.top .media-icon a:nth-child(4) {
  background: #ff0000;
}

.top .media-icon a:nth-child(4):hover {
  color: #ff0000;
  background: #fff;
}
.top .media-icon a:nth-child(5) {
  background: none;
}

.top .media-icon a:nth-child(5):hover {
  color: black;
  background: none;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link-name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.link-boxes .box .link-name::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 35px;
  left: 0;
  bottom: -2px;
  background: #fff;
}

.content .link-boxes .box li {
  list-style: none;
  margin: 6px 0;
}
.content .link-boxes .box li a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box {
  margin-right: 55px;
}

.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #afafb6;
  background: rgb(4, 4, 66);
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder {
  color: #afafb6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: rgb(4, 4, 66);
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  transition: all 0.4s ease;
  cursor: pointer;
}

.input-box input[type="button"]:hover {
  opacity: 1;
}
footer .bottom-details {
  width: 100%;
  background: #0f0844;
}
footer .bottom-details .bottom-text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom-text span,
.bottom-details .bottom-text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom-text a:hover {
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom-text a {
  margin-right: 10px;
}

@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
  footer .content .link-boxes .link-box {
    width: 40%;
    margin-top: 10px;
  }
}

@media (max-width: 700px) {
  footer {
    position: relative;
  }
  footer .content .top .logo-details {
    font-size: 20px;
  }

  .content .top .media-icon a {
    height: 35px;
    width: 35px;
    font-size: 13px;
    line-height: 35px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 3- 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom-text span,
  .bottom-details .bottom-text a {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }

  footer .content .top {
    flex-direction: column;
  }
  .content .top .media-icon a {
        margin-top: 16px;
}
footer .content .link-boxes .box {
    width: calc(100% / 2- 10px);
  }
footer .content .link-boxes .input-box {
    width: 100%;
  }
  
}